body {
    background: #d7f442 !important;
}
.innerContent {
    padding: 15px;
    background-color: #efe6e1;
    border: 1px solid black;
    margin-top: 10px;
}
.mainTitle {
    text-align: center;
    font-family: Impact, serif;
}
#mainTabs {
    width: 100%;
    padding: 0;
    list-style: none;
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
}
#mainTabs div {
    width: 46%;
    height: 100%;
    display: inline-block;
    font-family: Impact, serif;
    font-size: 20px;
}
.submissionsTable {
    width: 100%;
}
.submissionsTable * {
    padding: 5px;
}
.submissionsTable td>i {
    cursor: pointer;
}
.flashBagMessage {
    background-color: white;
    border-radius: 1px;
    border: 1px solid black;
    text-align: center;
    width: 100%;
}
#mainTabs a, .rowActions a {
    text-decoration: none !important;
}
#mainTabs div:hover, .rowActions a:hover {
    background-color: #edeff2;
}
