<!DOCTYPE html>
<html>
    <head>
        <title>{% block title 'Homepage' %} - Teste Mix Internet</title>
        <meta charset="UTF-8">
        <meta name="description" content="Página de formulários">
        <meta name="keywords" content="Formulário">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset("bootstrap3/dist/css/bootstrap.css") }}" rel="stylesheet" type="text/css" />
        {% block extrastyle %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ asset("js/jquery.min.js") }}" type="text/javascript"></script>
        <script src="{{ asset("bootstrap3/dist/js/bootstrap.js")}}" type="text/javascript"></script>
        {% block extrascripts %}
        {% endblock %}
    </body>
</html>
