{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="mainTitle">Aplicativo de submissão de formulário!</h1>
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <div id="mainTabs">
                <a href="{{ path("homepage") }}">
                    <div id="submitTab">
                        Submeter
                    </div>
                </a>
                <a href="{{ path("listFormularios") }}">
                    <div id="listTab">
                        Listar
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <div class="innerContent">
                {% if dataList is defined %}
                    {% for alert in app.session.flashbag.get('message') %}
                        <div class="flashBagMessage">
                            <div class="alert"><strong>{{ alert }}</strong></div>
                        </div>
                    {% endfor %}
                    <div class="listTabContent">
                        <form action="{{ path("listFormularios") }}">
                            <input name="nome" placeholder="Nome do candidato">
                            <input type="submit" value="Enviar">
                        </form>
                        <table class="table-bordered table-responsive submissionsTable">
                            <thead>
                                <tr>
                                    <td>Nome</td>
                                    <td width="35%">Arquivo</td>
                                    <td width="15%">Ações</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for element in dataList %}
                                    <tr>
                                        <td>{{ element['nome'] }}</td>
                                        <td>{{ element['nome_arquivo'] }}</td>
                                        <td class="rowActions">
                                            <a href="{{ path("userActions", {"action": "delete", "userID" : element['id']}) }}">
                                                <i data-toggle="tooltip" title="Excluir" data-placement="bottom" class="glyphicon glyphicon-remove-sign"></i>
                                            </a>
                                            <a href="{{ path("userActions", {"action": "edit", "userID" : element['id']}) }}">
                                                <i data-toggle="tooltip" title="Editar" data-placement="bottom" class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a href="{{ path("userActions", {"action": "download_curriculum", "userID" : element['id']}) }}">
                                                <i data-toggle="tooltip" title="Baixar" data-placement="bottom" class="glyphicon glyphicon-download-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="submitTabContent">
                        {% if editUser is defined %}
                            <form id="formulario" action="{{ path('validateFormData', {"mode":"atualizar", "userID": editUser}) }}" enctype="multipart/form-data" method="post">
                        {% else %}
                            <form id="formulario" action="{{ path('validateFormData', {"mode":"salvar", "userID" : "novo"}) }}" enctype="multipart/form-data" method="post">
                        {% endif %}
                            {% form_theme form _self %}

                            {% block form_row %}
                                <div class="form-group">
                                    {{ form_label(form) }}
                                    {{ form_errors(form) }}
                                    {{ form_widget(form) }}
                                </div>
                            {% endblock form_row %}

                            {{ form_widget(form) }}
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
    <script>
        var form = $("#formulario");
        if (form.length !== 0) {
            form.on("submit", function() {
                $("#form_data_do_envio").val(new Date().toLocaleString());
                return true;
            });
        }
        $('[data-toggle="tooltip"]').tooltip();
    </script>
{% endblock %}
